:root {
  --fondo: #080808;
  --gris: #1b1b1b;
  --color-letras: #9c9c9c;
  --color-boton: #3f8e00;
  --fuente: "IBM Plex Mono", monospace;
  --titulos: "Ralway", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--fondo);
}

header {
  width: 100%;
  background-color: var(--gris);
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  margin: 0 15px;
  color: var(--color-letras);
}

header nav ul li a {
  color: var(--color-letras);
  text-decoration: none;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

main {
  color: var(--color-letras);
  padding: 10px;
  flex: 1;
  overflow: auto;
}

footer {
  background-color: var(--gris);
  color: var(--color-letras);
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

footer p {
  text-align: center;
  font-family: var(--fuente);
  color: var(--color-letras);
  font-size: 14px;
}

footer img {
  width: 75px;
  height: 65px;
}

@media (max-width: 720px) {
  header nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  header nav ul.show {
    display: flex;
  }

  header nav ul li {
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
  }

  footer ul {
    flex-direction: column;
  }

  footer ul li {
    margin: 5px 0;
  }
}

@media (max-width: 400px) {
  header nav ul li a {
    font-size: 14px;
  }

  footer p {
    font-size: 14px;
  }

  footer img {
    width: 75px;
    height: 65px;
  }
}
