main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  flex: 1;
  overflow: auto;
}

h2 {
  color: white;
  font-family: var(--titulos);
  font-size: 34px;
  margin-top: 50px;
}

.texto {
  text-align: center;
  display: block;
  width: 50%;
  font-size: 18px;
  font-family: var(--fuente);
}

.imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imagenes img {
  width: 450px;
  height: 275px;
  margin-right: 50px;
  border-radius: 5%;
}

@media (max-width: 720px) {
  .texto {
    width: 80%;
    font-size: 16px;
  }

  .imagenes img {
    width: 300px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 28px;
    margin-top: 40px;
  }

  main {
    padding: 8px;
  }
}

@media (max-width: 400px) {
  .texto {
    width: 90%;
    font-size: 14px;
  }

  .imagenes img {
    width: 70%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 24px;
    margin-top: 30px;
  }

  main {
    padding: 5px;
  }
}
