main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  flex: 1;
  overflow: auto;
}

h2 {
  color: white;
  font-family: var(--titulos);
  font-size: 34px;
  margin-top: 0;
}

article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 20px;
  margin: 30px;
  border: 1px solid;
  border-color: #9c9c9c;
  border-image: linear-gradient(to right, #9c9c9c, var(--fondo)) 1;
  border-radius: 5%;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

h4 {
  color: white;
  font-family: var(--titulos);
  font-size: 18px;
  margin-top: 10px;
}

@media (max-width: 720px) {
  h2 {
    font-size: 28px;
  }

  article {
    padding: 15px;
    margin: 20px;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 15px;
  }

  h4 {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 24px;
  }

  article {
    padding: 10px;
    margin: 15px;
  }

  .container {
    gap: 10px;
  }

  h4 {
    font-size: 14px;
  }
}
